
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

html,
body {
    background-image: url(https://media.giphy.com/media/3oGRFlpAW4sIHA02NW/giphy.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contain {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-40%, 30%);
    align-items: center;
    width: 1500px;
    height:600px;
    padding-right: 250px;
